/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Droid Sans', sans-serif;*/

.nav-bar {
  position: fixed;
  background-color: gray;
  opacity: .9;
  width: 100%;
  padding: 0;
  height: 50px;
  top: 0;
  z-index: 3;
}

.nav-bar > ul {
  margin: 0 10% 0 10%;
  height: 50px;
  padding: 0;
}

.nav-bar-link {
  display: inline-block;
  list-style: none;
  padding: 0% 5% 0% 5%;
  width: 14%;
  height: 46px;
  text-align: center;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar > ul > a {
  color: #000000;
  width: 25%;
}

.nav-bar > ul > a:visited {
  color: #000000;
}

.nav-bar-link:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
  border-bottom: 3px solid #FFFFFF;
}
