.project-carousel {
  top: 1000px;
  background-color: #666666;
  height: 600px;
  position: absolute;
  width: 100%;
}

.project-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FFFFFF;
}

section {
  margin-top: 30px !important;
  width: 90%;
  height: 25em;
  margin: 0 auto;
  position: relative;
}

.items {
  position: absolute;
  width: 75%;
  height: 425px;
  background: #333;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.main-pos:hover > .project-copy {
  display: block;
}

.project-copy {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,.85);
  top: 2.5%;
  left: 15%;
  margin: 1%;
  height: 70%;
  width: 61%;
  padding: 5%;
  float: right;
}

.project-copy-dark {
  background-color: rgba(0,0,0,.85) !important;
}

.project-copy-dark > * {
  color: #FFFFFF !important;
}

.project-copy > h2 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-copy > p {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0;
  font-size: 14px;
}

.project-copy > ul {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0;
  font-size: 14px;
}

.description {
  font-style: italic;
}

.items > img {
  height: 100%;
  width: 100%;
}

.main-pos {
  margin-left: 9.25% !important;
  z-index: 3000;
  /*background-image: url('http://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.left-pos {
  opacity: .3;
  margin-left: -15% !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.back-pos {
  margin-left: 2em !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.right-pos {
  opacity: .3;
  margin-left:  33% !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

span {
  position: relative;
  margin: 0 auto;
  left: 46%;
  top: 450px;
}

.project-links {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #666666;
  list-style: none;
  top: 50%;
  left: 30%;
  width: 45%;
  padding: 0;
}

.project-links > li {
  text-align: center;
  margin: 5% 27.5% 8% 17%;
  height: 40px;
  line-height: 40px;
  background-color: #FFFFFF;
  color: #666666;
}

.project-links > li > a:visited {
  color: #000000;
}

a {
  text-decoration: none;
}

.project-links > li:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 15px 3px rgba(255,255,255,1);
  box-shadow: 0px 0px 15px 3px rgba(255,255,255,1);
}

.project-links-dark {
  color: #666666 !important;
}

.project-links-dark > li {
  background-color: #666666 !important;
  color: #FFFFFF !important;
}

.project-links-dark > li > a:visited {
  color: #FFFFFF !important;
}

.project-links-dark > li:hover {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,1) !important;
  -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,1) !important;
  box-shadow: 0px 0px 15px 3px rgba(0,0,0,1) !important;
}
