/*Title Banner*/

#heading {
	background: url('http://i.imgur.com/9yg5EmU.jpg');
	background-size: cover;
	color: rgba(0,0,0,.65);
	width: 100%;
	float: top;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 30%;
}

h1 {
	font-size: 70px;
	font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-height: 950px) {
	h1 {
	font-size: 50px;
	}


}



} 

@media only screen and (max-width: 900px), (max-height: 600px) {

	#heading {
	  	height: 10%;
	}

	h1 {
		font-size: 40px;
	}
}

/*General Body and Quadrant Parameters*/

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.test {
	border: 1px solid red;

}

.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 13%;
	width: 100%;
	height: 82%;
	padding: 1%;
	background: white;
	background-size: cover;

}

.boxgroup {
	
	display: flex;
	flex-wrap: wrap;
	/*float: left;*/
	width: 100%;
	height: 95%;
	margin: 0%;
	padding: 0%;
}

.box {
	padding: 0%;
	background-color: rgba(0,0,0,.4);
	color: rgba(0,0,0,.8);
	border: 3px solid #d9d9d9;
	border-radius: 10px;
	float: left;
	width: 48.5%;
	height: 48.5%;
	margin: 0.5%;
}

.boxtitle {
	height: 10%;
	font-family: 'Josefin Sans', sans-serif;
	display: block;
	
}

h2 {
	font-size: 180%;
	padding: 0% 0% 1% 2%;
	color: rgba(0,0,0,.9);
}

p {	
	padding: 0% 0% 1% 2%;
}

a:link {
	text-decoration: none;
	color: #00a3cc;
}

a:visited {
	text-decoration: none;
	color: #330033;
}

@media only screen and (max-height: 950px) {
	h2 {
	  	font-size: 150%;
	  
	}

	.box {
		height: 320px;
	}



} 

@media only screen and (max-width: 900px), (max-height: 600px) {
	.boxgroup {
		flex-direction: column;
		flex-wrap: nowrap;
		vertical-align: center;
		height: 90% 
	}

	.box {
		width: 100%;
		height: auto;
		min-height: 400px;
	}

	h2 {
	  	font-size: 150%;
	  
	}

	.container {
	   	height: 90% 
	}
	
}

/*Navigation Bar*/

.navigation {
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 25%;
	height: 5%;	
	top: 13%;
	border-radius: 10px

}

h5 {
	font-size: 120%;
	cursor: pointer;
}

@media only screen and (max-width: 900px), (max-height: 600px) {
	.navigation {
		display: none;
	}

}

/*About Me Quadrant*/

#abouttitle {
	width: 75%;
}

.subtitle {
	height: 23%;
	width: 60%;
	font-family: 'Rosario', sans-serif;
	float: left;
	font-size: 100%;
	padding: 0% 1% 1% 1.5%;
	color: rgba(255,255,255,.8);
}

p.abouttxt {
	font-size: 90%;
	padding: 0% 0% 1% 2%;
}

#aboutinfo {
	margin-top: 1%;
	float: left;
	height: 65%;
	width: 65%;
	overflow-y: auto;
	padding: 0% 1% 1% 0.5%;
}

.biohide {
	display: none;
}

.bioshow {
	float: right;
	border-radius: 10px;
	height: 70%;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	width: 40%;
	background-color: rgba(64,64,64,.9);
	padding: 1%;
	color: white;
}

.profilespace {
	float: right;
	width: 30%;
	height: 70%;


}

#profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5%;
	/*width: 28.5%;*/
	max-width: 90%;
	max-height: 80%;
}

@media only screen and (max-height: 950px) {
	
	h4 {
		font-size: 110%;
	}

	#profile {
		max-height: 250px;

	}

} 

@media only screen and (max-width: 900px), (max-height: 600px) {
	
	p.abouttxt {
		font-size: 80%;

	}

	#aboutinfo {
		height: 50%;
		max-width: 64%;
		overflow-y: auto;
		padding: 2% 0% 0% 1%;
	}

	.boxtitle {
		height: 10%;
	}

	.subtitle {
		height: 10%;
		max-width: 65%

	}

	h4 {
		font-size: 100%;
	}
}


/*Experience and Education Quadrant*/



.proftable {
	table-layout: fixed;
	font-size: 10.25px;
	height: 70%;
	margin-top: 2%;
	width: 100%;
	/*border: 1px solid red;*/
	

}

tr {
	text-align: center;
	
}

td {
	padding: 0.5px;
}

/* Images for Programing 
HTML - https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png
CSS - http://w3widgets.com/responsive-slider/img/css3.png
Java - http://www.vectorsland.com/imgd/l12866-java-eps-logo-99090.png
Python - https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2000px-Python-logo-notext.svg.png
Ruby - https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/2000px-Ruby_logo.svg.png
*/


.learnHide {
	display: none;
}

.learnShow {
	float: left;
	margin-top: 1%;
	margin-right: 1%;
	padding: 1%;
	height: 35%;
	width: 49%;
	background-color: rgba(64,64,64,.9);
	border-radius: 10px;
}

.learnHeader{
	font-family: 'Rosario', sans-serif;
	color: rgba(255,255,255,.8);
	text-align: center;

}

.learnPic{
	height: 45px;

}

.learnTable{
	table-layout: fixed;
	width: 100%;
}

.learnRow{
	height: 30%;
	width: 100%;
}

.skillsHeader{
	font-family: 'Rosario', sans-serif;
	color: rgba(255,255,255,.8);
	text-align: center;

}

.skillsTable{
	table-layout: fixed;
	width: 100%;
}

.skillsText{
	font-size: 80%;
	color: white;
	text-align: left;
	padding: 0% 0% 1% 2%;
}

.skillsRow{
	height: 20%;
	width: 100%;
}

.skillsHide {
	display: none;
}

.skillsShow {
	float: left;
	padding: 1%;
	margin-right: 1%;
	height: 35%;
	width: 49%;
	background-color: rgba(64,64,64,.9);
	border-radius: 10px;
}

.resumebox {
	float: left;
	width: 100%;
	margin: 0%;
	padding: 1%;
	/*display: inline-block;*/
}

#citi {
	max-height: 28%;
	max-width: 40%;
}

#pnc {
	max-height: 6%;
	max-width: 45%;
}

#iu {
	max-height: 20%;
	max-width: 30%;
}

.col1 {
	width: 15%;
}

.col2 {
	width: 15%;
	font-size: 10px;
}

.col3 {
	width: 15%;
	font-size: 10px;
}

.col4 {
	width: 55%;
	font-size: 10px;
}

.dashed {
	/*border-bottom: 1px solid #595959;
	border-height: 20px;*/
	background-color: #d9d9d9;
	height: 15%;;
	margin: 0px;
}


@media only screen and (max-width: 900px), (max-height: 600px) {
	
	.col2 {
		font-size: 10px;
	}

	.col3 {
		font-size: 10px;
	}

	.col4 {
		font-size: 10px;
	}
}

/*Recent Travels Quadrant*/

.slideshow {
	float: left;
	padding: 0%;
	margin: 0%;
	margin-left: 1%;
	width: 48.5%;
	height: 75%;
	background: url('https://i.imgur.com/B3tYqxj.jpg');
	background-size: cover;
	border-radius: 10px;
	animation-name: doubleslide1;
	animation-duration: 30s;
	-webkit-animation-name: doubleslide1;
	-webkit-animation-duration: 30s;
	animation-iteration-count: infinite;
}

.slideshow2 {
	float: right;
	padding: 0%;
	margin: 0%;
	margin-right: 1%;
	width: 48.5%;
	height: 75%;
	background: url('https://i.imgur.com/xDLoYwu.jpg');
	background-size: cover;
	border-radius: 10px;
	animation-name: doubleslide2;
	animation-duration: 25s;
	-webkit-animation-name: doubleslide2;
	-webkit-animation-duration: 25s;
	animation-iteration-count: infinite;
}

/* links to slideshow pictures

Dubhai Desert - https://i.imgur.com/B3tYqxj.jpg
Golden Temple, Kyoto - http://i.imgur.com/hugFfn5.jpg
Downtown, Osaka - https://i.imgur.com/6obPuYM.jpg
Mayan Temple, Belize - https://i.imgur.com/rAlLPwu.jpg
Grand Mosque, Abu Dhabi - https://i.imgur.com/QNq83Vp.jpg
Cozumel, Mexico - https://i.imgur.com/xDLoYwu.jpg
Roatan, Honduras - https://i.imgur.com/plGJ2Q8.jpg

*/

@keyframes slides {
	0%   {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
	13%  {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
	14%  {background: url('http://i.imgur.com/hugFfn5.jpg');background-size: cover;}
	27%  {background: url('http://i.imgur.com/hugFfn5.jpg');background-size: cover;}
	28%  {background: url('https://i.imgur.com/6obPuYM.jpg');background-size: cover;}
	41%  {background: url('https://i.imgur.com/6obPuYM.jpg');background-size: cover;}
	42%  {background: url('https://i.imgur.com/rAlLPwu.jpg');background-size: cover;}
	55%  {background: url('https://i.imgur.com/rAlLPwu.jpg');background-size: cover;}
	56%  {background: url('https://i.imgur.com/QNq83Vp.jpg');background-size: cover;}
	69%  {background: url('https://i.imgur.com/QNq83Vp.jpg');background-size: cover;}
    70%  {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}
    83%  {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}
    84%  {background: url('https://i.imgur.com/plGJ2Q8.jpg');background-size: cover;}
    99%  {background: url('https://i.imgur.com/plGJ2Q8.jpg');background-size: cover;}
    100% {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
}

@-webkit-keyframes slides {
	0%   {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
	13%  {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
	14%  {background: url('http://i.imgur.com/hugFfn5.jpg');background-size: cover;}
	27%  {background: url('http://i.imgur.com/hugFfn5.jpg');background-size: cover;}
	28%  {background: url('https://i.imgur.com/6obPuYM.jpg');background-size: cover;}
	41%  {background: url('https://i.imgur.com/6obPuYM.jpg');background-size: cover;}
	42%  {background: url('https://i.imgur.com/rAlLPwu.jpg');background-size: cover;}
	55%  {background: url('https://i.imgur.com/rAlLPwu.jpg');background-size: cover;}
	56%  {background: url('https://i.imgur.com/QNq83Vp.jpg');background-size: cover;}
	69%  {background: url('https://i.imgur.com/QNq83Vp.jpg');background-size: cover;}
    70%  {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}
    83%  {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}
    84%  {background: url('https://i.imgur.com/plGJ2Q8.jpg');background-size: cover;}
    99%  {background: url('https://i.imgur.com/plGJ2Q8.jpg');background-size: cover;}
    100% {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
}

@keyframes doubleslide1 {
	0%   {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
	26%  {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
	27%  {background: url('https://i.imgur.com/6obPuYM.jpg');background-size: cover;}
	53%  {background: url('https://i.imgur.com/6obPuYM.jpg');background-size: cover;}
	54%  {background: url('https://i.imgur.com/QNq83Vp.jpg');background-size: cover;}
	80%  {background: url('https://i.imgur.com/QNq83Vp.jpg');background-size: cover;}
	81%  {background: url('https://i.imgur.com/plGJ2Q8.jpg');background-size: cover;}
	99%  {background: url('https://i.imgur.com/plGJ2Q8.jpg');background-size: cover;}
	100% {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}

}

@-webkit-keyframes doubleslide1 {
	0%   {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
	26%  {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}
	27%  {background: url('https://i.imgur.com/6obPuYM.jpg');background-size: cover;}
	53%  {background: url('https://i.imgur.com/6obPuYM.jpg');background-size: cover;}
	54%  {background: url('https://i.imgur.com/QNq83Vp.jpg');background-size: cover;}
	80%  {background: url('https://i.imgur.com/QNq83Vp.jpg');background-size: cover;}
	81%  {background: url('https://i.imgur.com/plGJ2Q8.jpg');background-size: cover;}
	99%  {background: url('https://i.imgur.com/plGJ2Q8.jpg');background-size: cover;}
	100% {background: url('https://i.imgur.com/B3tYqxj.jpg');background-size: cover;}

}

@keyframes doubleslide2 {
	0%   {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}
	32%  {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}
	33%  {background: url('https://i.imgur.com/rAlLPwu.jpg');background-size: cover;}
	65%  {background: url('https://i.imgur.com/rAlLPwu.jpg');background-size: cover;}
	66%  {background: url('http://i.imgur.com/hugFfn5.jpg');background-size: cover;}
	99%  {background: url('http://i.imgur.com/hugFfn5.jpg');background-size: cover;}
	100%  {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}

}

@-webkit-keyframes doubleslide2 {
	0%   {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}
	32%  {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}
	33%  {background: url('https://i.imgur.com/rAlLPwu.jpg');background-size: cover;}
	65%  {background: url('https://i.imgur.com/rAlLPwu.jpg');background-size: cover;}
	66%  {background: url('http://i.imgur.com/hugFfn5.jpg');background-size: cover;}
	99%  {background: url('http://i.imgur.com/hugFfn5.jpg');background-size: cover;}
	100%  {background: url('https://i.imgur.com/xDLoYwu.jpg');background-size: cover;}

}

@media only screen and (max-width: 900px), (max-height: 600px) {
	
	.slideshow {
		float: left;
		padding: 0%;
		margin: 0%;
		width: 100%;
		height: 300px;
		background: url('https://i.imgur.com/j8DzXEi.jpg');
		background-size: cover;
		border-radius: 10px;
		animation-name: slides;
		animation-duration: 40s;
		-webkit-animation-name: slides;
		-webkit-animation-duration: 40s;
		animation-iteration-count: infinite;
	}

	.slideshow2 {
		display: none;
	}
}

/*Contact Information Quadrant*/

.contactinfo {
	height: 13%;
	width: 35%;
	padding-left: 1.25%;
	display: inline-block;
	font-size: 12px;
	
}

.linkedin {
	height: 13%;
	width: 61%;
	float: right;

}

#linkedinlogo {
	max-height: 70%;
}

.contactform {
	width: 100%;
	height: 45%;
	display: block;
	font-size: 12px;
	
}

input[type="text"] {
	border: 2px solid #8c8c8c;
	border-radius: 10px;
	width: 30%;
	height: 10%;
	color: #1a1a1a;
	font-size: 12px;
}

#messagebox {
	border: 2px solid #8c8c8c;
	border-radius: 10px;
	width: 98%;
	height: 20%;
	color: #1a1a1a;
}

input[type="submit"] {
	border: 2px solid #262626;
	border-radius: 10px;
	background-color: #262626;
	color: white;
	cursor: pointer;
}

@media only screen and (max-width: 900px), (max-height: 600px) {
		
	#messagebox {
	  height: 30px; 
	}

	#contact {
		height: 500px;
	}
}

/*Quadrant Navigation*/

.navigationHover {
	color: white;
	background-color: rgba(0,0,0,.4);
	/*background-color: #262626;*/
}

.firstBox {
	order: 1;
}

.secondBox {
	order: 2;
}

.thirdBox {
	order: 3;
}

.fourthBox {
	order: 4;
}



/*#about {
	order: 1;
}

#professional {
	order: 2;
}

#travel {
	order: 3;
}

#contact {
	order: 4;
}

.navigation:hover {
	color: white;
	background-color: rgba(0,0,0,.4);
	/*background-color: #262626;
}

#aboutnav:hover ~ #about {
	animation-name: halfanimation;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}


#profnav:hover ~ #professional {
	order: 1;
	animation-name: halfanimation;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
} 

#profnav:hover ~ #contact {
	order: 4;
}

#profnav:hover ~ #about {
	order: 2;
}

#proftravel:hover ~ #travel {
	order: 3;

}

#travelnav:hover ~ #travel {
	order: 1;
	animation-name: fullanimation;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
} 

#travelnav:hover ~ #about {
	order: 2;
}

#travelnav:hover ~ #professional {
	order: 3;
}

#travelnav:hover ~ #contact {
	order: 4;
}*/

/*@keyframes halfanimation {
	0%   {width: 48.5%;}
	100% {width: 99%;}
}

@keyframes fullanimation {
	0%   {height: 48.5%;}
	100% {height: 99%;}
	0%   {width: 48.5%;}
	100% {width: 99%;}
}*/
